.banner-456.block{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 300px;
    padding: 30px 40px 0;
    position: relative;
}


.banner-456 >div:nth-child(1){
    width: 600px;
}   

.banner-456 .button-container{
    margin: unset;
}

.banner-456 .button-container a{
    padding: 12px 22px;
    border-radius: 8px;
    background: #FFF;
    color: #d62049;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    width: 47%;
};

.banner-456 strong{
    color: #FFF;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.294px;
}

.banner-456 p{
    margin: unset;  
    color: #FFF;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.294px;
}  

.banner-456 ul{
    display: flex;  
    width: 1118px;
   column-gap: 24px;
   position: absolute;
   bottom: 10px;
   padding: 0;

   
}

.banner-456 ul li h5{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: unset;
    line-height: normal;
    letter-spacing: normal;
    margin-top: unset;
}

.banner-456 ul li{
    width: 240px;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    list-style-type: none;
    position: relative;
}

.banner-456 ul li::before{
    content: " ";
    background-color: #b3d5eb;
    height: 90%;
    position: absolute;
    display: block;
    width: 2.5px;
    border-radius: 10px;
    top: 2px;
    left: -20px;
}

@media  screen and (width <=768px){
    main > .section >.banner-456-wrapper{
        padding: 0 20px;
    }

    .banner-456 >div:nth-child(1){
        width: 100%;
    }

    .banner-456 ul{
        width: 100%;
        flex-wrap: wrap;
        position: absolute;
        gap: 10px;
        margin-left: 17px;
    }

    .banner-456 p{
        font-size: 1.25rem;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.14px;
        width: 176px;
    }

    .banner-456.block{
        height: 260px;
        padding: 18px 20px 0 16px
    }

    .banner-456 .button-container a{
        padding: 10px 8px;
        text-align: center;
        font-size: .75rem;
        letter-spacing: -0.12px;
        width: 100%;
    }

    .banner-456 ul li{
        font-size: .75rem;
        margin-left: 0;
        width: 46%;
    }

    .banner-456 ul li h5{
        font-size: .75rem;
        line-height: normal;
        margin-left: 0;
    }

    .banner-456 ul li::before{
        left:-10px;
    }
}   